body{
    margin:0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(221, 221, 221);
}

h1{
    color: rgb(1, 102, 136);
}

.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;

}
#login-box{
    display: none;
    text-align: center;

}
#sign-up-box{
    display: none;
}

.login-box{
    display: block;
}

#error{
    color: red;
    display: none;

}

input{
    width: 60%;
    padding: 10px;
    margin: 10px;

}

button{
    background-clip: blue;
    color: blue;
}

.term{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#checkbox{
    width: 5%;
}

button{
    padding: 10px 80px;
    width: 50%;
    border: solid blue 1px;
    background-color: white;
    margin: 15px;
}
button:hover{
    padding: 10px 80px;
    width: 50%;
    color: white;
    border: solid rgb(245, 245, 246) 1px;
    background-color: rgb(27, 55, 184);
}

#profileData{
   margin-right: 100px; 
}

#dashboard{
    text-align: center;
    padding: 40px;
    background-color: white;
    height: 500px;
    display: none;
    

}
.dashMain{
    display: flex;

}
#logout{
    float: right;
    padding: 5px;
    margin: 1px;
    margin-top: -80px;
    width: 80px;
    display: inline-block;

}

td{
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    width: 40%;
}

#editProfile{
    width: 200px;
    padding: 10px 30px;
}

#addItemsButton{
    padding: 5px 5px !important;
    border-color: green;
    color: green;
    margin: 10px;
    
}
#saveItemsButton{
    padding: 5px 5px !important;
    border-color: green;
    color: green;
    margin: 10px;
    
}



.dotoItemsFort{
    display: flex;
}
.itemButton{
    padding: 5px;
    margin: 1px;
    width: 80px;
}
.itemButton:hover{
    padding: 5px;
    margin: 1px;
    width: 80px;
    color: white;
}